.footer-bottom {
    font-size: 13px;
}

.footer-bottom ul > li {
    padding: 0
}

.footer-bottom ul > li + li:before {
    padding: 0 10px;
    color: #ccc;
    content: "|"
}


.module {
    margin-bottom: 30px;
}
.tags {
    line-height: 30px;
}
.posts>li {
    margin-bottom: 50px;
}
.footer {
    padding: 20px;
    border-top: 1px solid #ddd;
}
